extends layout

block content 
  div(class="header")
    h1= title
    a(href="/new") Add a new message
    
  ul(class="messages")  
    each val in messages
      li(class="message") 
        p(class="message-user") #{val.user}
        p(class="message-date") #{val.added}
        p(class="message-text") #{val.text}